{% extends 'layout.html' %} {% block body %}

<div class="container justify-content-center mt-4 bg-{{config['APP_COLOR_MODE']}} ">
  <ul class="list-group pt-4 bg-{{config['APP_COLOR_MODE']}}">
    <li class="list-group-item d-flex justify-content-between align-items-center text-center text-{{config['APP_TEXT_COLOR_MODE']}} bg-{{config['APP_COLOR_MODE']}} ">
      <h1><strong>Bienvenid@ {{ session['username'] }} al RECOMENDADOR</strong></h1>
    </li>
    
  </ul>
  <ul class="list-group pt-4">
  <li class="list-group-item d-flex justify-content-between align-items-center text-center text-{{config['APP_TEXT_COLOR_MODE']}} bg-{{config['APP_COLOR_MODE']}}">
    <p><strong>Elige de la siguiente lista el articulo que usted desea que el sistema le recomiende o de pautas sobre antes de su proxima compra!</strong></p>
  </li>
</ul>
  <div class="row align-items-center mt-4 pb-4 bg-{{config['APP_COLOR_MODE']}}">
  
    <div class="col-4">

      <a href="/recomendador/computadoras"
        ><img
          class="imagen-reco img-fluid rounded mx-auto d-block"
          src="{{url_for('static', filename='images/computer.png')}}"
          alt="computadora_icon"
      /></a>
    </div>
      <div class="col-4">
        
        <a href="recomendador/celulares"
        ><img
          class="imagen-reco img-fluid rounded mx-auto d-block"
          src="{{url_for('static', filename='images/smartphone.svg')}}"
          alt="computadora_icon"
      /></a>
      </div>
      <div class="col-4">

        <a href="recomendador/monitores"
        ><img
          class="imagen-reco img-fluid rounded mx-auto d-block"
          src="{{url_for('static', filename='images/monitor.svg')}}"
          alt="computadora_icon"
      /></a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
