{% extends 'layout.html' %} {% block body %} {% include 'base/mensajes.html' %}
{% import 'base/macros.html' as components %}

{% if session['username']is defined %}

  {% call components.mensaje() -%}
  Bienvenid@ <strong> recuerda que tienes la sección de preguntas frecuentes en la barra de navegación en la cual podras ver las diferentes caracteristicas con las que cuenta el sitio!</strong>
  {% endcall -%}

  {%else%}

  {% call components.mensaje() -%}
  Hola usuari@! <strong> si quieres usar alguna de las herramientas de nuestro sitio tienes que registrarte y loguearte, gracias!</strong>
  {% endcall -%}

  {% endif %}
</div>
<div class="row align-items-center row-height">
  <div class="col">
   

    <img
      class="img-fluid mx-auto d-block rounded"
      src="{{url_for('static', filename='images/sibrat-start.jpg')}}"
      alt="First slide"
    />
  </div>
</div>
{% endblock body %}
