{% extends 'layout.html' %} {% block body %} {% include 'base/mensajes.html' %}
{% import 'base/macros.html' as components %}

<ul class="list-group pt-4">
  <li class="list-group-item d-flex text-{{config['APP_TEXT_COLOR_MODE']}} bg-{{config['APP_COLOR_MODE']}} profile-name">
    <h5>Perfil {{ session['username']}}</h5>
  </li>
</ul>

<div class="accordion" id="accordionExample">
  <div class="accordion-item bg-{{config['APP_COLOR_MODE']}} mb-4 mt-2">
    <h2 class="accordion-header bg-{{config['APP_COLOR_MODE']}}" id="headingOne">
      <button class="accordion-button text-{{config['APP_TEXT_COLOR_MODE']}} bg-{{config['APP_COLOR_MODE']}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Datos del Usuario
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show bg-{{config['APP_COLOR_MODE']}}  mt-2 mb-2" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <legend>Email</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext text-{{config['APP_TEXT_COLOR_MODE']}}" id="staticEmail" value="{{current_user.email}}">
          </div>
        </div>
        <legend>Usuario</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext text-{{config['APP_TEXT_COLOR_MODE']}}" id="staticEmail" value="{{current_user.username}}">
          </div>
        </div>
        <legend>Activo</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext text-{{config['APP_TEXT_COLOR_MODE']}}" id="staticEmail" value="{{current_user.active}}">
          </div>
        </div>
        <legend>Ultima vez que te logueaste</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="{{current_user.last_login_at}}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item mb-4 mt-2">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed text-{{config['APP_TEXT_COLOR_MODE']}} bg-{{config['APP_COLOR_MODE']}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Armados
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body bg-{{config['APP_COLOR_MODE']}}">
        <a href="/buscar_armados">
         <button class="btn btn-primary btn-lg w-100  bg-{{config['APP_COLOR_MODE']}}" type="button">
           Ver Armados
        </button>
      </a>
      </div>
    </div>
  </div>
  {% if current_user.has_role('Tecnico1') or current_user.has_role('Tecnico2')%}
  <div class="accordion-item mb-4 mt-2 bg-{{config['APP_COLOR_MODE']}}">
    <h2 class="accordion-header bg-{{config['APP_COLOR_MODE']}}" id="headingThree">
      <button class="accordion-button collapsed text-{{config['APP_TEXT_COLOR_MODE']}} bg-{{config['APP_COLOR_MODE']}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Perfil Profesional
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <legend>Link Profesional</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext text-{{config['APP_TEXT_COLOR_MODE']}}" id="staticEmail" value="{{tecnico.link_profesional}}">
          </div>
        </div>
        <legend>Titulo</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext text-{{config['APP_TEXT_COLOR_MODE']}}" id="staticEmail" value="{{tecnico.titulo}}">
          </div>
        </div>
        {% if current_user.has_role('Tecnico1')%}
        <legend>Permiso otorgado</legend>
        <div class="form-group row">
          <div class="col-sm-10"> 
            <input type="text" readonly="" class="form-control-plaintext text-{{config['APP_TEXT_COLOR_MODE']}}" id="staticEmail" value="Tecnico NIVEL 1">
          </div>
        </div>
        {% elif current_user.has_role('Tecnico2')%}
        <legend>Permiso otorgado</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext text-{{config['APP_TEXT_COLOR_MODE']}}" id="staticEmail" value="Tecnico NIVEL 2">
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% else %}
  <div></div>
  {% endif %}
</div>



<div class="d-grid gap-2">
  <a href="/change">
    <button class="btn btn-primary btn-lg w-100  bg-{{config['APP_COLOR_MODE']}} mt-4" type="button">
      Cambiar Contraseña
    </button>
  </a>
  {% if current_user.has_role('Tecnico1') or current_user.has_role('Tecnico2')%}
  <div></div>
  {% else %}
  <a href="/solicitar_tecnico">
    <button class="btn btn-primary btn-lg w-100  bg-{{config['APP_COLOR_MODE']}}" type="button">
      Solicitar autorización para volverse Técnico del sitio
    </button>
  </a>
  {% endif %}
</div>

{% endblock body %}