{% block nav %}
  <nav class="navbar navbar-expand-lg text-white navbar-{{config['APP_COLOR_MODE']}} bg-{{config['APP_COLOR_MODE']}}">
    <div class="container-fluid">
      <a class="navbar-brand text-{{config['APP_TEXT_COLOR_MODE']}}" href="/">{{ config["VERSION"] }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item item-navsito">
            <a class="nav-link text-{{config['APP_TEXT_COLOR_MODE']}}" href="/">Home</a>
          </li>
          {% if session['_user_id'] %}
          <li class="nav-item item-navsito">
            <a class="nav-link text-{{config['APP_TEXT_COLOR_MODE']}}" href="/armador_manual">Armado Manual</a>
          </li>
          <li class="nav-item item-navsito" >
            <a class="nav-link text-{{config['APP_TEXT_COLOR_MODE']}}" href="/profile">Perfil</a>
          </li>

          <li class="nav-item item-navsito">
            <a class="nav-link text-{{config['APP_TEXT_COLOR_MODE']}}" href="/recomendador">Recomendador</a>
          </li>
          <li class="nav-item item-navsito">
            <a class="nav-link text-{{config['APP_TEXT_COLOR_MODE']}}" href="/soporte">Soporte Tecnico</a>
          </li>
          {% endif %} {% if current_user.has_role('Administrador') or current_user.has_role('Tecnico1')  or current_user.has_role('Tecnico2') %}
          <li class="nav-item item-navsito">
            <a class="nav-link text-{{config['APP_TEXT_COLOR_MODE']}}" href="/admin">Administrador</a>
          </li>
          {% endif %}
          <li class="nav-item item-navsito">
            <a class="nav-link text-{{config['APP_TEXT_COLOR_MODE']}}" href="/faq">Preguntas Frecuentes</a>
          </li>
          <li class="nav-item item-navsito">
            <a class="nav-link text-{{config['APP_TEXT_COLOR_MODE']}}" href="/contacto">Contactenos</a>
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        {% if config['APP_COLOR_MODE'] == "dark" %}
        <a href="/mode-change" class="btn btn-{{config['APP_COLOR_MODE']}}"
          >Go <span class="text-{{config['APP_TEXT_COLOR_MODE']}}">Light Mode</span></a
        >
        {% else %}
        <a href="/mode-change" class="btn btn-{{config['APP_COLOR_MODE']}}"
        >Go <span class="text-{{config['APP_TEXT_COLOR_MODE']}}">Dark Mode</span></a
        >
        {% endif %}
        
        {% if session["_user_id"] %}
        <a href="/logout" class="btn btn-{{config['APP_COLOR_MODE']}}"
          >Logout <span class="text-danger">{{  session['username'] }}</span></a
        >
        {% else %}
        <a href="/register" class="btn btn-{{config['APP_COLOR_MODE']}} color-change-2x">Register</a>
        <a href="/login" class="btn btn-{{config['APP_COLOR_MODE']}} color-change-2x"
          >Login</a
        >
        {% endif %}
      </form>
    </div>
  </nav>
</nav>
{% endblock nav %}