{% extends 'layout.html' %} {% block body %}
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alta Motherboard</h5>
         
          <a href="#" class="btn btn-primary">Empezar alta</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alta CPU</h5>
         
          <a href="#" class="btn btn-primary">Empezar alta</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alta RAM</h5>
         
          <a href="#" class="btn btn-primary">Empezar alta</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alta GPU</h5>
         
          <a href="#" class="btn btn-primary">Empezar alta</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alta Almacenamiento</h5>
         
          <a href="#" class="btn btn-primary">Empezar alta</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alta Fuente</h5>
         
          <a href="#" class="btn btn-primary">Empezar alta</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}