{% extends 'layout.html' %} {% block body %}
<table class="table table-dark table-striped">

    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Tecnologia</th>
            <th scope="col">Interfaz</th>
            <th scope="col">Factor forma</th>
            <th scope="col">Precio</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for almacenamiento in datos %}
        <tr>

            <th scope="row">{{almacenamiento.id_almacenamiento}}</th>
            <td>{{almacenamiento.nombre}}</td>
            <td>{{almacenamiento.fabricante}}</td>
            <td>{{almacenamiento.capacidad}}</td>
            <td>{{almacenamiento.tecnologia}}</td>
            <td>{{almacenamiento.interfaz}}</td>
            <td>{{almacenamiento.factor_forma}}</td>
            <td>{{almacenamiento.precio_aproximado}}</td>


            <td>
                {% if id== 5 %}
                <form action="/agregar_armador/{{almacenamiento.id_almacenamiento}}/{{'almacenamiento1'}}" method="POST">
                    <button type="submit" class="btn btn-success btn-block">Agregar</button>
                </form>
                {% else %}
                <form action="/agregar_armador/{{almacenamiento.id_almacenamiento}}/{{'almacenamiento2'}}" method="POST">
                    <button type="submit" class="btn btn-success btn-block">Agregar</button>
                </form>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}