{% extends 'layout.html' %} {% block body %}
<table class="table table-dark table-striped">

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fabricante</th>
        <th scope="col">Socket</th>
        <th scope="col">Soporte Memoria</th>
        <th scope="col">Precio</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for motherboard in datos %}
      <tr>
        
        <th scope="row">{{motherboard.id_motherboard}}</th>
        <td>{{motherboard.nombre}}</td>
        <td>{{motherboard.fabricante}}</td>
        <td>{{motherboard.zocalo}}</td>
        <td>{{motherboard.soporte_memoria}}</td>
        <td>{{motherboard.precio_aproximado}}</td>
        
        <td>
          <form action="/agregar_armador/{{motherboard.id_motherboard}}/{{'motherboard'}}" method="POST">
            <button type="submit" class="btn btn-success btn-block">Agregar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  
  </table>
{% endblock %}