{% extends 'layout.html' %} {% block body %}
<table class="table table-dark table-striped">

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fabricante</th>
        <th scope="col">Capacidad</th>
        <th scope="col">Velocidad</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for ram in datos %}
      <tr>
        
        <th scope="row">{{ram.id_ram}}</th>
        <td>{{ram.nombre}}</td>
        <td>{{ram.fabricante}}</td>
        <td>{{ram.capacidad}}</td>
        <td>{{ram.velocidad}}</td>
        <td>{{ram.tipo}}</td>
        <td>{{ram.precio_aproximado}}</td>
        
        
        <td>
          <form action="/agregar_armador/{{ram.id_ram}}/{{'ram'}}" method="POST">
            <button type="submit" class="btn btn-success btn-block">Agregar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  
  </table>
{% endblock %}