{% extends 'layout.html' %} {% block body %}
<table class="table table-dark table-striped">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fabricante</th>
      <th scope="col">Capacidad</th>
      <th scope="col">Tipo de Memoria</th>
      <th scope="col">Consumo Tipico</th>
      <th scope="col">Recomendacion PSU</th>
      <th scope="col">Interfaz Memoria</th>
      <th scope="col">Precio</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for gpu in datos %}
    <tr>

      <th scope="row">{{gpu.id_gpu}}</th>
      <td>{{gpu.nombre}}</td>
      <td>{{gpu.fabricante}}</td>
      <td>{{gpu.capacidad}}</td>
      <td>{{gpu.tipo_memoria}}</td>
      <td>{{gpu.potencia_tipica}}</td>
      <td>{{gpu.recomendacion_fuente}}</td>
      <td>{{gpu.interfaz_memoria}}</td>
      <td>{{gpu.precio_aproximado}}</td>

      <td>
        <form action="/agregar_armador/{{gpu.id_gpu}}/{{'gpu'}}" method="POST">
          <button type="submit" class="btn btn-success btn-block">Agregar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}