{% extends 'layout.html' %} {% block body %}

<table class="table table-{{config['APP_COLOR_MODE']}} table-striped table-hover mt-4 table-responsive">
  {% include 'base/mensajes.html' %} 
  <thead>
    <tr>
      <th scope="col">Componente</th>
      <th scope="col" class="col-middle">Descripcion</th>
      <th scope="col" class="col-middle">Nombre</th>
      <th scope="col" class="col-middle">Precio aproximado</th>
      <th scope="col" class="col-middle">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in componentes.items() %}
    <tr>
      <!-- Carga automatica de componentes -->
      <th scope="row">{{ key }} - {{ value }}</th>
      
      <!-- MODAL CON LOS DATOS ADICIONALES DE CADA COMPONENTE -->
      <td class="col-middle"><button type="button" class="btn btn-primary bg-pan-left" data-bs-toggle="modal" data-bs-target="#{{value}}"><img class="img-fluid mx-auto d-block rounded" src="{{url_for('static', filename='images/arrow.png')}}" alt="Descripcion"></button></td>
      {% if session['armador_manual'][value] %}
      <div class="modal fade" id="{{value}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{value}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Recuerda que para guardar tu armado personalizado en la base de datos todos los componentes tienen que estar presentes, gracias!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar mensajito :)</button>
            </div>
          </div>
        </div>
      </div>
                                           
      <td class="col-middle">
      {{session['armador_manual'][value]['marca']}} {{ session['armador_manual'][value]['nombre'] }}

      {% if value == "RAM" or value == "Almacenamiento Principal" or value == "Almacenamiento Secundario" %}
      {{ session['armador_manual'][value]['capacidad'] }}
      {% endif %}
      </td>
      <td class="col-middle">{{ session['armador_manual'][value]['precio_aproximado'] }}</td>
      {%else%}
      <td></td>
      <td></td>
      {% endif %}
      
      
      <!-- ----------------------------------------------------------------- -->
      <td class="col-middle">
        {% if session['armador_manual'][value] is defined %}
        <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/borrar_componente/{{ key }}" class="btn btn-danger">Borrar</a>
        <a href="/agregar_componente/{{ key }}" class="btn btn-secondary color-change-2x">Modificar</a>
        </div>
        {% else %}
        <a href="/agregar_componente/{{ key }}" class="btn btn-secondary color-change-2x">Agregar</a>
        {% endif %}


        {% if value == 'RAM' and session['armador_manual']['RAM'] is defined and session['armador_manual']['RAM']['cant_ram'] < 5 %}
        
        <div class="btn-group" role="group" aria-label="Basic example">
          <a class="btn btn-secondary color-change-2x" href="/agregar_ram/">+</a></button>
          <button type="button" class="btn btn-secondary color-change-2x">{{session['armador_manual']['RAM']['cant_ram']}}</button>
          <a class="btn btn-secondary color-change-2x" href="/eliminar_ram/">-</a>
        </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row">
  {% if session['armador_manual']['Motherboard'] %}
  <div class="col-sm-6">
    <div class="card bg-{{config['APP_COLOR_MODE']}}">
     
      <div class="card-header">A tener en cuenta...</div>
      <ul class="list-group list-group-flush">
        
        <li class="list-group-item">Socket requerido en motherboard: {{ session['armador_manual']['Motherboard']['socket']}}</li>
        {% if session['armador_manual']['GPU'] %}
        <li class="list-group-item">PSU Minima requerida: {{ session['armador_manual']['GPU']['recomendacion_psu'] }}</li>
        {% endif %} 
        <li class="list-group-item">Factor forma de gabinete requerido: {{ session['armador_manual']['Motherboard']['factor_forma']}}</li>
        {% if precio_total %}
        <li class="list-group-item">Precio aproximado total: $ {{ precio_total }}</li>
        {% endif %}
      </ul>
    </div>

  </div>
  {% endif %} 
  <div class="col-sm-6">
    <div class="card bg-{{config['APP_COLOR_MODE']}}">
      <div class="card-body">
        <h5 class="card-title">Comandos</h5>
        <p class="card-text">Opciones disponibles para el armador:</p>
        {% if len(session['armador_manual']) > 7 %}
        <a href="/guardar_armado" type="submit" class="btn btn-success btn-block mb-2">Guardar en la base de datos</a>
        {% else %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Guardar en la base de datos
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¡Creo que faltan cosas!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Recuerda que para guardar tu armado personalizado en la base de datos todos los componentes tienen que estar presentes, gracias!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar mensajito :)</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <a href="/buscar_armados" class="btn btn-primary">Buscar armados</a>
        <a href="/reset_armador" class="btn btn-primary">Empezar devuelta</a>
      </div>
      <!--Cartel de guardado exitoso-->
      {% if msg %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}