{% extends 'layout.html' %} {% block body %}
<table class="table table-dark table-striped">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Motherboard</th>
      <th scope="col">CPU</th>
      <th scope="col">RAM</th>
      <th scope="col">GPU</th>
      <th scope="col">Almacenamiento Principal</th>
      <th scope="col">Almacenamiento Secundario</th>
      <th scope="col">Fuente</th>
      <th scope="col">Gabinete</th>
      <th scope="col">Precio Total</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for armados in datos %}
    <tr>

      <th scope="row">{{armados.id_save}}</th>
      <td>{{armados.nombre_motherboard}}</td>
      <td>{{armados.nombre_cpu}}</td>
      <td>{{armados.nombre_ram}}</td>
      <td>{{armados.nombre_gpu}}</td>
      <td>{{armados.nombre_almacenamiento1}}</td>
      <td>{{armados.nombre_almacenamiento2}}</td>
      <td>{{armados.nombre_fuente}}</td>
      <td>{{armados.nombre_gabinete}}</td>
      <td>{{armados.precio_aproximado}}</td>


      <td>
          <a href="/eliminar_armado/{{armados.id_save}}/{{id_usuario}}" type="submit" class="btn btn-danger btn-block">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}